body {
    background-color: hsl(0, 0%, 98%);
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-family: 'poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;;
    color: hsl(212, 6%, 44%);
    margin: 0px 0px 0px 0px; 
}

.container h2 {
    font-family: 'poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;;
    color: hsl(212, 6%, 44%);
    margin: 0px 0px 0px 0px; 
}

.container p {
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;;
    color: hsl(212, 6%, 44%);
    max-width: 600px;
    text-align: center;
}