body {
    background-color: hsl(0, 0%, 98%);
    align-items: center;
    justify-content: center;
    display: grid;
    margin-top: 5rem;
}

.container {
    text-align: center;
    max-width: 1200px;
}

.container header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container header h1 {
    font-family: 'poppins', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    color: hsl(212, 6%, 44%);
    margin: 0px 0px 0px 0px; 
}

.container header h2 {
    font-family: 'poppins', sans-serif;
    font-size: 2.1rem;
    font-weight: 700;;
    color: hsl(212, 6%, 44%);
    margin: 0px 0px 0px 0px; 
}

.container header p {
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;;
    color: hsl(212, 6%, 44%);
    max-width: 500px;
    text-align: center;
}

.tool-cards {
    display: grid;
    gap: 1.7em;
    margin: 3em 2em 3.5em 2em
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    text-align: left;             
    display: flex;
    flex-direction: column;
    align-items:flex-start; 
    min-width: 250px;
    min-height: 250px;
}

.card h3 {
    font-family: 'poppins', sans-serif;
    font-size: 1.52em;
    font-weight: 600;;
    color: hsl(234, 12%, 34%);
    margin-bottom: 0.5rem;
    padding-left: 2rem;

}

.card p {
    font-family: 'poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;;
    color: hsl(212, 6%, 44%);
    padding-left: 2rem;
}

.supervisor {
    border-top: 4px solid hsl(180, 62%, 55%);
}

.team-builder {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.karma {
    border-top: 4px solid hsl(34, 97%, 64%);
}

.calculator {
    border-top: 4px solid hsl(212, 86%, 64%);
}

.card img {
    align-self: flex-end;
    margin-top: 1.5rem;
    padding-right: 1.5rem;
}   

@media (min-width: 900px) {
  .tool-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "l t r"
                         "l b r";
                         gap: 2em;
  }

  .card {
    min-height: 250px;
    min-width: 250px;
  }

  .supervisor {
    grid-area: l;
    align-self: center;
  }

  .team-builder {
    grid-area: t;
  }

  .karma {
    grid-area: b;
  }

  .calculator {
    grid-area: r;
    align-self: center;
  }

}