body {
    background-color: hsl(0, 0%, 98%);
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.container {
    max-width: 960px;
    width: 100%;
    text-align: center;
}

.container header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container header h1 {
    font-family: 'poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;;
    color: hsl(212, 6%, 44%);
    margin: 0px 0px 0px 0px; 
}

.container header h2 {
    font-family: 'poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;;
    color: hsl(212, 6%, 44%);
    margin: 0px 0px 0px 0px; 
}

.container header p {
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;;
    color: hsl(212, 6%, 44%);
    max-width: 600px;
    text-align: center;
}

.tool-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05);
    text-align: left;             
    display: flex;
    flex-direction: column;
    align-items: flex-start;       
}

.card h3 {
    font-family: 'poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;;
    color: hsl(234, 12%, 34%);
    margin-bottom: 0.5rem;
    padding-left: 2rem;

}

.card p {
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;;
    color: hsl(212, 6%, 44%);
    padding-left: 2rem;
}